{% extends '@template/layout/base.html.twig' %}

{% if app.user is not null %}
    {% set bert_template_user = {
        avatar_url: app.user.avatar,
        fullname: app.user.fullname,
        deleted: app.user.deleted
    } %}

    {% set knp = {
        sidebar_menu: 'main',
    } %}

    {% set apps_url = path('bert_client_isp_apps_menu') %}
{% endif %}