{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_top_nav_menu_add_block %}
    {% include sonata_admin.adminPool.getTemplate('add_block') %}
{% endblock %}

{% block sonata_top_nav_menu_user_block %}
    {% include sonata_admin.adminPool.getTemplate('user_block') %}
    <li>
        <a href="{{ path('homepage') }}"><i class="fa fa-sign-out"></i> {{ 'menu.site'|trans }}</a>
    </li>
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/sonatatranslation/css/sonata-translation.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    <script language="javascript">
        $(document).ready(function() {
            $('[data-role="summernote"]').summernote();
        });
    </script>
{% endblock %}