<div class="card card-shadow m-b-0">
    <div class="card-header card-header-transparent cover overlay">
        <img class="cover-image h-100" src="https://{{ host_front }}/agence.jpg" alt="...">
        <div class="overlay-panel">
            <div class="pull-right m-t-10">
                <i class="bf bf-bert white font-size-40"></i>
            </div>
            <div class="vertical-align" style="height: 60px; padding-right: 50px;" data-role="auto-fill">
                <span class="white t-s-10 vertical-align-middle">{{ article.parameters.SOCNOM }}</span>
            </div>
        </div>
    </div>
</div>
<div class="p-t-15 p-l-15 p-r-15 p-b-0">
    <div class="row">
        <div class="col-sm-6">
            <address class="m-b-0">
                <abbr title="{{ 'agency.address'|trans }}">{{ 'agency.address'|trans }} :</abbr><br />
                {{ article.parameters.SOCADR1 }}
                {% if article.parameters.SOCADR2|length > 0 %}<br/>{{ article.parameters.SOCADR2 }}{% endif %}
                <br>{{ article.parameters.SOCCP }} {{ article.parameters.SOCVILLIB1 }}
            </address>
        </div>
        <div class="col-sm-6">
            <div class="hidden-sm-up m-t-15"></div>
            <table>
                <tbody>
                    {% if article.parameters.SOCTEL|length > 0 %}
                        <tr>
                            <td class="p-r-10"><abbr title="{{ 'agency.tel'|trans }}">{{ 'agency.tel'|trans }} :</abbr></td>
                            <td>{{ article.parameters.SOCTEL }}</td>
                        </tr>
                    {% endif %}
                    {% if article.parameters.SOCFAX|length > 0 %}
                        <tr>
                            <td class="p-r-10"><abbr title="{{ 'agency.fax'|trans }}">{{ 'agency.fax'|trans }} :</abbr></td>
                            <td>{{ article.parameters.SOCFAX }}<br/></td>
                        </tr>
                    {% endif %}
                    {% if article.parameters.SOCEMAIL|length > 0 %}
                        <tr>
                            <td class="p-r-10"><abbr title="{{ 'agency.email'|trans }}">{{ 'agency.email'|trans }} :</abbr></td>
                            <td>{{ article.parameters.SOCEMAIL }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>