{% extends 'base.html.twig' %}

{% import "profile/macros.html.twig" as profile %}

{% block content %}
{{ form_start(form) }}
    {% include '@template/components/configure_user_header.html.twig' with {
        avatar: profile.avatar(user),
        user: user,
    } %}
    <div class="row{{ user.id > 0 ? ' user-persisted' : '' }}">
        <div class="col-md-4">
            <div class="card card-block p-15 clearfix">
                <h4 class="m-t-0">{{ 'form.subscriptions'|trans }}</h4>
                <div class="nav-tabs-horizontal" data-plugin="tabs">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link{{ user.subscriptions|length > 0 ? ' active' : '' }}" data-toggle="tab" href="#appsConfigure" aria-controls="appsConfigure" role="tab" aria-expanded="true">{{ 'action.apps_configure'|trans }}</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link{{ user.subscriptions|length > 0 ? ' ' : ' active' }}" data-toggle="tab" href="#appsManage" aria-controls="appsManage" role="tab" aria-expanded="false">{{ 'action.apps_manage'|trans }}</a></li>
                    </ul>
                    <div class="tab-content p-t-20">
                        <div class="tab-pane{{ user.subscriptions|length > 0 ? ' active' : '' }}" id="appsConfigure" role="tabpanel" aria-expanded="true">
                            <ul class="list-icons m-b-0">
                            {% for subscription in user.subscriptions %}
                                {% set _app = subscription.client.app %}
                                {% if _app.configureUrl is not null %}
                                    <li><i class="wb-chevron-right-mini"></i> <a href="{{ _app.buildConfigureUrl(user.id) }}">{{ _app.name }}</a></li>
                                {% endif %}
                            {% else %}
                            <p class="text-center p-15">{{ 'profile.no_apps'|trans }}</p>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane{{ user.subscriptions|length > 0 ? ' ' : ' active' }}" id="appsManage" role="tabpanel" aria-expanded="false">
                            {{ form_row(form.clients, {'label': false}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-block p-15 clearfix">
                <h4 class="m-t-0">{{ 'form.roles'|trans }}</h4>
                {{ form_row(form.user.roles, {'label': false}) }}
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-block p-15 clearfix">
                <h4 class="m-t-0">{{ 'form.user_profile'|trans }}</h4>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.user.firstname, {'attr': {tabindex: 1} }) }}
                        {{ form_row(form.user.username) }}
                        <hr />
                        {{ form_row(form.user.phone) }}
                        {{ form_row(form.user.mobile) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.user.lastname, {'attr': {tabindex: 2} }) }}
                        {{ form_row(form.user.email) }}
                        <hr />
                        {{ form_row(form.user.mainOrganization) }}
                        {{ form_row(form.user.locale) }}
                        {{ form_row(form.user.timezone) }}
                    </div>
                </div>
            </div>
            <div class="card card-block p-15 clearfix">
                <h4 class="m-t-0">{{ 'form.user_password'|trans }}</h4>
                {{ form_widget(form.handlePassword, {attr: (form.handlePassword.vars.data ? {disabled: 'disabled'} : {})}) }}
                {{ form_widget(form.user.plainPassword) }}
            </div>
            <div class="card card-block p-15 clearfix">
                <h4 class="m-t-0">{{ 'form.user_extra_options'|trans }}</h4>
                {{ form_widget(form.changePassword) }}
                {{ form_widget(form.confirmation) }}
                <hr />
                {{ form_widget(form.user.enabled) }}
                <p class="text-muted">{{ 'form.user_enabled_help'|trans }}</p>
                {{ form_widget(form.sendEmail, {'label_attr': (user.id > 0 ? {
                    'data-original-title': 'form.send_email_help'|trans,
                    'data-toggle': 'tooltip',
                } : {}) }) }}
                <p class="text-muted">{{ 'form.send_email_help_alt'|trans }}</p>
            </div>
        </div>
    </div>

    <div class="card card-block p-15 clearfix">
        <input type="submit" class="btn btn-primary pull-right" value="{{ 'action.configured'|trans }}" />
    </div>
{{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ bis_asset('/css/components/form.css', 'cdn') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ bis_asset('/js/components/form.js', 'cdn') }}"></script>
    <script src="{{ bis_asset('/js/components/form_user_create.js', 'cdn') }}"></script>
    <script src="{{ bis_asset('/js/admin_user_registration.js') }}"></script>
{% endblock %}